:root{
    --brand-color: rgb(234, 98, 92);
    --brand-dark:#c9514c;
    --text-color: rgb(51, 51, 51);
}



/* GLOBAL */

html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Arial",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: var(--text-color);
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url("../fonts/Roboto-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


.img{
    max-width: 100%;
    height: auto;
}
*:focus{
    outline: 2px dashed var(--brand-color);
}

.features-link{
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--brand-color);
    text-decoration: none;
}
.features-link::before{
    width: 40px;
    height: 3px;
    margin-right: 10px;
    background-color: var(--brand-color);
    content: " ";
    transition: width 0.4s ease;
}
.lined-link:hover::before {
    width: 60px;
}
/* CONTAINER  */
.container{
    width: 100%;
    max-width: 1100px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
}
/* SITE-HEADER */
.site-header {
    display: flex;
    align-items: center;
    padding-top: 36px;
   padding-bottom:80px ;
}
.site-header-container{
    display: flex;
}
.site-logo {
    display: flex;
    margin-right: auto;
    transition: opacity 0.3s ease;
}
.site-logo:hover{
    opacity: 0.8;
}
.site-logo:active{
    opacity: 0.6;
}
.logo-img{
    display: block;
    width: 35px;
    height: 42px;
    object-fit: cover;
}
.sitenav {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.sitenav-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    font-family: "Roboto";
font-size: 15px;
font-weight: 400;
line-height: 150%;
text-align: center;
}
.sitenav-item:not( :last-child) {
    margin-right: 30px;
}
.sitenav-link {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 3px solid transparent;
    color:var(--text-color);
    text-decoration: none;
    transition:border-bottom 0.3s ease ;
}

.sitenav-link:hover{
    border-bottom: 3px solid #333;
}
 /* SEARCH FORM  */



.search-form-input{
    display: block;
    border: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #333;
}


/* MAIN CONTENT  */
.main-content{
    flex-grow: 1;
}

.site-hero { 
    padding-top: 140px;
    padding-bottom: 185px;
    border-bottom: 2px solid #ddd;
    background-image: url(../img/intro-bg.png);
    background-repeat: no-repeat;
    background-position: left calc(50% + 550px)  bottom;
    background-size: contain;
   
   
}
.site-hero-wrapper{
    width: 100%;
    max-width: 490px;
}

.site-heading {
    color: rgb(0, 0, 0);
font-size: 40px;
font-weight: 700;
line-height: 120%;
text-align: left;
margin-top: 0;
margin-bottom: 30px;
}
.site-text-wrapper{
    width: 490px;
    border-left:  3px solid rgb(136, 136, 136);
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: 245px;
  
}
.site-text {
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(119, 119, 119);
font-size: 16px;
font-weight: 400;
line-height: 150%;
margin-left: 40px;
text-align: left;
}
.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
   min-width:  260px;
    padding:  12px;
    background-color: rgb(234, 98, 92);
    color: #fff;
font-size: 18px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0px;
text-align: center;
text-transform: uppercase;
border: 0;
transition: background-color 0.4s ease;
}
.main-button:hover{
    background-color: var(--brand-dark);
}
.main-button:active{
   opacity: 0.6;
}
/* SITE FEATURES  */
.site-features {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-wrap: nowrap;
}
.site-features-list {
    display: flex;
    padding: 0;
    margin: 0;
    
}
.site-featuers-item {
    width: 280px;
}
.site-featuers-item:not(:last-child){
    margin-right: 80px;
}
.site-features-heading {
    margin-top: 0;
    margin-bottom: 30px;
  color: rgb(34, 34, 34);
font-size: 18px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0px;
text-align: left;
text-transform: uppercase;
}
.site-features-text {
    margin-top: 0;
    margin-bottom: 20px;
 color:var(--text-color);
font-size: 15px;
font-weight: 400;
line-height: 160%;;
text-align: left;
}
.features-devider{
    width: 8px;
    height: 8px;
    margin-left: 0;
    border: 0;
  background-color: #ddd;
  box-shadow: 16px 0 0 0 #ddd,
  32px 0 0 0 #ddd;
}


/* SITE INFO  */
.site-info{
    padding-top: 70px;
    padding-bottom: 70px;
}
.info-container{
    display: flex;
    align-items: center;
}
.site-info-wrapper{
    
}
.info-heading{
 width: 380px;
}
.info-img{
    width: 400px;
    height: 600px;
    object-fit:cover ;
}

/* SITE-PROMO  */

.promo-container{
    margin-right: auto;
}

.site-promo-wrapper{
    padding-top: 240px;
    padding-bottom: 240px;
   
    background-image: url(../img/site-promo-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.site-promo{  
    width: 100%;
    max-width: 490px;
    margin-left: auto;
}
.promo-heading{
    margin-top: 0;
    width: 490px;
    color: #fff;
}
.promo-text-wrapper{
    border-left:  3px solid#fff;
}
.promo-text{
    color: #fff;
}
/* RETINA BG  */
/* RETINA-BG-IWATCH */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
.site-hero{
    background-image: url(../img/intro-bg@2x.png);
}
}


/* RETINA-BG-PROMO  */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
.site-promo-wrapper{
    background-image: url(../img/site-promo-bg@2x.jpeg);
}
}